@import "mixins";
@import "settings";

.movie {
    padding       : 2em;
    min-height    : 100vh;
    display       : flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    @include breakpoint(medium) {
        display              : grid;
        grid-template-columns: 1fr 1fr;
        align-items          : center;
        grid-gap             : 25px;
        background-image     : none !important;
        padding              : 1em;
    }
    .content {
        .title {
            max-width     : 250px;
            text-transform: uppercase;
            transition: all 1s ease-out;
            @include breakpoint(medium) {
                max-width     : max-content;
            }
        }
        .actors {
            margin: 2em 0;
        }
        .type {
            text-transform: capitalize;
        }
    }
    .media {
        margin: 100px auto 0;
        @include breakpoint(medium) {
            margin: 0 auto;
        }
        .image {
            // display: none;
            @include breakpoint(medium) {
                display   : block;
                transition: all 0.5s ease-in-out;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}