@import "mixins";
@import "settings";

.movie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 25px;
    margin: 2em 1em;

    .media {
        background-position: right;
        background-size    : cover;
        position: relative;
    }

    h1 {
        
    }
}