
@import "mixins";
@import "settings";

.slider {
    margin: 25px auto;
    .title {
        padding: 0 2em;
        margin: 1em auto;
    }
    .movies {
        display       : flex;
        flex-direction: row;
        gap           : 2em;
        overflow-x    : scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        .poster {
            transition: 0.3s ease-in all;
            &:hover {
                @include breakpoint(large) {
                    transform: scale(0.95);
                }
            }
        }
    }    
}